# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

default: &default
  omniauth:
    facebook:
      # It must be a boolean. Remember ENV variables doesn't support booleans.
      enabled: false
      app_id: <%= ENV["OMNIAUTH_FACEBOOK_APP_ID"] %>
      app_secret: <%= ENV["OMNIAUTH_FACEBOOK_APP_SECRET"] %>
    twitter:
      enabled: false
      api_key: <%= ENV["OMNIAUTH_TWITTER_API_KEY"] %>
      api_secret: <%= ENV["OMNIAUTH_TWITTER_API_SECRET"] %>
    google_oauth2:
      enabled: false
      client_id: <%= ENV["OMNIAUTH_GOOGLE_CLIENT_ID"] %>
      client_secret: <%= ENV["OMNIAUTH_GOOGLE_CLIENT_SECRET"] %>
    imipre:
      enabled: true
      client_id: <%= Chamber.env.imipre.client_id %>
      client_secret: <%= Chamber.env.imipre.client_secret %>
      site_url: <%= Chamber.env.imipre.site_url %>
      icon_path: Oauth_logo.svg
  geocoder:
    here_app_id: <%= ENV["HERE_APP_ID"] %>
    here_app_code: <%= ENV["HERE_APP_CODE"] %>

development:
  <<: *default
  secret_key_base: b909b44627fbb3d4a30323d3bfce412ee5f4c69777276e041da0ab00d68431d6177905e7c1bf337daeee51fb528fb0cc47fc20e3c0a7957237a3c5d6710d79ce
  omniauth:
    imipre:
      enabled: true
      client_id: <%= Chamber.env.imipre.client_id %>
      client_secret: <%= Chamber.env.imipre.client_secret %>
      icon_path: Oauth_logo.svg

test:
  <<: *default
  secret_key_base: 8162c8ea1b590d0322963eef63f5d279ef1bfcfc30dab49961fe80d8ced569eca4f8bbe8bf43c586be838a538c56039faca87556c50a958b9220f2b14a6f417f
  omniauth:
    facebook:
      enabled: true
    twitter:
      enabled: true
    google_oauth2:
      enabled: true

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *default
  secret_key_base: <%= Chamber.env.secret_key_base %>
  smtp_username: <%=  Chamber.env.smtp.username %>
  smtp_password: <%= Chamber.env.smtp.password %>
  smtp_address: <%= Chamber.env.smtp.address %>
  smtp_domain: <%= Chamber.env.smtp.domain %>
  smtp_port: <%= Chamber.env.smtp.port || "587" %>
  smtp_starttls_auto: false
  smtp_authentication: <%= Chamber.env.smtp.authentication || "plain" %>
